<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a class="nav-link" [routerLink]="['/feed']" routerLinkActive="active"
        >Your Feed</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
        >Global Feed</a
      >
    </li>
    <li class="nav-item" *ngIf="tagNameProps">
      <a
        class="nav-link"
        [routerLink]="['/tags', tagNameProps]"
        routerLinkActive="active"
        >{{ tagNameProps }}</a
      >
    </li>
  </ul>
</div>
