<mca-loading *ngIf="isLoading$ | async"></mca-loading>
<mca-error-messages *ngIf="error$ | async as errors" [messages]="errors">
</mca-error-messages>

<div *ngIf="feed$ | async as feed">
  <div class="article-preview" *ngFor="let article of feed.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <a [routerLink]="['/profiles', article.author.username]">
        {{ article.author.username }}
      </a>
      <span class="date">{{ article.createdAt }}</span>
    </div>
    <div class="pull-xs-right">ADD TO FAVORITES</div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <ul class="tag-list">
        HERE IS LIST OF TAGS
      </ul>
    </a>
  </div>
  <mca-pagination
    [baseUrl]="baseUrl"
    [currentPage]="currentPage"
    [totalItemsCount]="feed.articlesCount"
    [perPageLimit]="limit"
  ></mca-pagination>
</div>
